<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>
<table class="table table-bordered">

  <thead>
    <tr>
      <th>Fullname</th>
      <th>Emailid</th>
      <th>Phone</th>
      <th>PrimaryAddress</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.Fullname %>
        <%=  contact.Firstname %>
        <%=  contact.lastname %>
        <a href="<%= contact_path(contact) %>">
        
        </a>
        </td>
        <td><%= contact.Emailid %></td>
        <td><%= contact.Phone %></td>
        <td><%= contact.PrimaryAddress %>
        <%=  contact.Addr %>
        <%=  contact.Country %>
        <a href="<%= contact_path(contact) %>">
        
        </a>
        
        </td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to '<button type="button" class="btn btn-primary >New Contact</button>'.html_safe, new_contact_path  %>
<button type="button" class="btn btn-primary">New Contact</button>
 <%= link_to '<button type="button" class="btn btn-primary >New Contact</button>'.html_safe,contacts_path  %>
<button type="button" class="btn btn-primary">AllContacts</button>
